footer {
  background-color: white;
  height: 60px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #cccccc;
  text-align: center;
}

footer span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
