header {
  position: relative;
  background-color: white;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
}

.image {
  width: 142px;
  height: 60px;
  background-image: url(../images/logo.png);
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.container {
  max-width: 1000px;
  margin: 30px 0;
  text-align: center;
}
