body {
  margin: 0;
  padding: 0;
  color: #484848;
  font-size: 14px;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 60px;
}

.container {
  max-width: 1000px;
  margin: 30px 0;
  text-align: center;
  margin: 30px auto;
}
