.places h1 {
  text-align: left;
  font-size: 30px;
}

.places article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  display: inline-block;
}

.places article h2 {
  text-align: center;
  font-size: 30px;
  margin: 0;
}
