.places h1 {
  text-align: left;
  font-size: 30px;
  margin-bottom: 0;
}

.places article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.places article h2 {
  text-align: center;
  font-size: 30px;
  margin: 0 0 65px;
}

.price_by_night {
  display: inline-block;
  position: absolute;
  color: #ff5a5f;
  border: 4px solid #ff5a5f;
  padding: 10px;
  height: 60px;
  min-width: 60px;
  font-size: 30px;
  border-radius: 50%;
  top: 20px;
  right: 20px;
}

.price_by_night span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.information {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.information div {
  width: 100px;
}

.information div div {
  display: inline-block;
  height: 50px;
  width: 50px;
}

.information div p {
  margin-bottom: 0;
}

.max_guest-image {
  background-image: url(../images/icon_group.png);
  background-size: cover;
}

.number_rooms-image {
  background-image: url(../images/icon_bed.png);
  background-size: cover;
}

.number_bathrooms-image {
  background-image: url(../images/icon_bath.png);
  background-size: cover;
}

.user {
  margin: 15px 0;
  text-align: left;
}

.user span {
  font-weight: 600;
}

.description {
  text-align: left;
  height: 200px;
}
